/* tablet anh mobile */
@media screen and (max-width: 991px) {
  /* header */

  .hidden-mobile {
    display: block;
  }

  .sign-up,
  .nav {
    display: none;
  }

  .menu-overlay {
    z-index: 1;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: var(--transition) ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 0 0 40%;
    background: #131517;
    z-index: 99;
    transform: translateX(100%);
    transition: var(--transition) ease;
  }

  .header-input:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .header-input:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .nav-mobile {
    display: block;
    margin-top: 100px;
    color: #111;
  }

  .sign-mobile {
    margin-top: 40px;
    border-top: 3px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .navbar-mobile {
    display: block;
    font-size: 3rem;
    line-height: 1.15;
    padding: 10px;
    margin-top: 30px;
  }

  .actice-mobile {
    background: #dcd6d6;
  }

  .sign-mobile__btn {
    margin-top: 40px;
    display: flex;
  }

  .hero-base {
    flex-direction: column;
    row-gap: 56px;
  }

  .base--items:nth-child(2) .base--items__icon::before {
    top: -33px;
    right: -75px;
  }

  .base--items:nth-child(2) .base--items__icon::after {
    bottom: -170px;
    left: -60px;
  }

  /* task */
  .task {
    margin-top: 80px;
  }

  .task__inner {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .task--content {
    width: 100%;
  }

  .task--content__top-heading {
    max-width: 279px;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.27;
  }

  .task--content__top-desc {
    font-size: 1.2rem;
    line-height: 1.83;
  }

  .task--content__bottom {
    margin-top: 37px;
  }

  .task--media {
    margin-top: 80px;
    width: 100%;
    padding: 0 7%;
  }

  .task--media__content {
    width: 100%;
  }

  .media--btn__content {
    line-height: 1.2;
  }

  .media--btn__avatar-icon {
    width: 25px;
    height: 25px;
  }

  /* features */
  .features__inner {
    margin-top: 98px;
    flex-direction: column;
    padding: 60px 0 0 28px;
  }

  .content-right {
    width: 100%;
  }

  .content-left {
    width: 100%;
  }

  .features-heading {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* hero */
  .base--items__desc {
    max-width: 300px;
  }

  .base--items:nth-child(2) .base--items__icon::after {
    bottom: -150px;
  }

  .task--content__top-desc,
  .task--content__top-heading {
    margin: 0 auto;
  }

  .task--media {
    width: 100%;
  }
  /* features */
  .features-heading {
    max-width: 300px;
  }
}

/* mobile */
@media screen and (max-width: 767px) {
  .mobi-hidden {
    display: none;
  }

  /* hero */

  .hero__inner {
    position: relative;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
  }

  .hero-content:first-child {
    position: absolute;
    width: 24.12px;
    height: 64px;
    top: -18px;
    left: 50px;
    transform: rotate(270deg);
  }

  .hero-content:nth-child(2) {
    max-width: 297px;
  }

  .hero__heading {
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.26;
    width: 297px;
  }

  .hero-span {
    padding: 1px;
  }

  .hero-content:last-child {
    position: absolute;
    width: 24.12px;
    height: 64px;
    right: 40px;
    bottom: 120px;
  }

  .hero-btn {
    margin-top: 30px;
    flex-direction: column;
    row-gap: 18px;
  }

  .hero__media {
    margin-top: 82px;
  }

  /* task */
  .media--btn__content {
    font-size: 0.7rem;
  }

  .media-btn__flay {
    width: 20px;
    height: 20px;
  }

  /* features */
  .features-card {
    grid-template-columns: 1fr;
    max-width: 240px;
  }

  .features-heading {
    max-width: 240px;
  }

  .cards:not(.cards:first-child) {
    margin-top: 34px;
  }
}

@media screen and (max-width: 568px) {
  .hero-content:last-child {
    right: 10px;
  }
}
