* {
  box-sizing: border-box;
}

:root {
  --transition: 0.4s;
}

html,
body {
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: "Sora", sans-serif;
  background: #131517;
}

button,
input,
textarea,
select {
  font-size: inherit;
  font-family: inherit;
}

/* 一緒のコーダ */

.fiexd {
  position: fixed;
  top: -20px;
  left: 0;
  right: 0;
}

.hidden-mobile {
  display: none;
}

.container {
  width: 1220px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.section-heading {
  font-weight: 700;
  font-size: 6rem;
  line-height: 1.16;
  color: #f9f9f9;
}

.section-span {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.section-desc {
  font-size: 16px;
  line-height: 26px;
  color: #858b93;
}

/* header */
.header {
  z-index: 10;
  background: #131517;
  padding: 40px 0 20px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  column-gap: 30px;
}

.sign {
  display: flex;
  column-gap: 30px;
}

.navbar {
  padding: 0 6px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #858b93;
  transition: var(--transition);
}

.navbar:hover {
  color: #f9f9f9;
  position: relative;
}

.actice {
  color: #f9f9f9;
  position: relative;
}

.actice::after {
  position: absolute;
  left: 6px;
  bottom: -5px;
  content: "";
  width: 21px;
  height: 2px;
  background: #6aea5c;
}

.sign-up,
.sign-in {
  font-size: 1.6rem;
  line-height: 1.5;
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.sign-in {
  border: 1px solid #272633;
  border-radius: 8px;
  padding: 8px 26px;
  transition: 0.6s;
}

.sign-in:hover {
  border: 1px solid #6aea5c;
}

/* hero  */
.hero {
  margin-top: 70px;
}

.hero__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
  align-items: flex-start;
}

.abstract {
  width: 100%;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content:nth-child(2) {
  flex-direction: column;
  margin-top: 62px;
}

.hero__heading {
  position: relative;
  width: 783px;
  text-align: center;
}

.hero__heading::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 99%;
  background: #ff7667;
  right: 53px;
  bottom: 6px;
}

.hero-span {
  position: relative;
  padding: 5px;
  display: inline-block;
  border: 1px dashed #fff;
}

.hero-span::after {
  z-index: -1;
  position: absolute;
  content: "";
  inset: 0;
  background: #20262d;
}

.rectangle {
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 4.5px 4.5px 4.5px 0px;
}

.rectangle:nth-child(1) {
  background: #ae8ff9;
  top: -10px;
  left: -10px;
  transform: matrix(-1, 0.01, 0.01, 1, 0, 0);
}
.rectangle:nth-child(2) {
  right: -10px;
  top: -10px;
  background: #ef8f00;
}
.rectangle:nth-child(3) {
  bottom: -10px;
  left: -10px;
  background: #ff7667;

  transform: rotate(180deg);
}
.rectangle:nth-child(4) {
  right: -10px;
  bottom: -10px;
  background: #0cce84;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.hero-desc {
  margin-top: 34px;
  max-width: 447px;
  text-align: center;
}

.hero-btn {
  margin-top: 44px;
  display: flex;
  column-gap: 20px;
}

.hero-btn__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 199px;
  height: 54px;
  font-size: 1.6rem;
  line-height: 1.62;
  color: #f9f9f9;
  background: #282c30;
  box-shadow: 1px 8px 45px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.hero-btn__inner:nth-child(2):hover {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
}

.btn-active {
  background: linear-gradient(90deg, #eb9204 -33.14%, #83e868 116.38%);
}

.hero__media {
  margin-top: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__media--inner {
  max-width: 100%;
  margin: auto;
  height: auto;
}

.hero-base {
  margin: 140px auto 0;
  padding: 71px 0 53px;
  background: #282c30;
  border-radius: 27px;
  display: flex;
  justify-content: space-around;
}

.base--items {
  text-align: center;
}

.base--items__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 62px;
  height: 62px;
  border-radius: 99%;
}

.base--items:first-child .base--items__icon {
  background: #0cce84;
}

.base--items:nth-child(2) .base--items__icon {
  position: relative;
  background: #ef8f00;
}

.base--items:nth-child(2) .base--items__icon::before {
  content: "";
  position: absolute;
  width: 194.5px;
  border: 1px dashed #858b93;
  right: 132px;
}

.base--items:nth-child(2) .base--items__icon::after {
  content: "";
  position: absolute;
  width: 194.5px;
  border: 1px dashed #858b93;
  left: 125px;
}

.base--items:last-child .base--items__icon {
  background: #ae8ff9;
}

.base--items__content {
  margin: 30px 0 5px;
  font-size: 2.2rem;
  line-height: 1.45;
  color: #f9f9f9;
}

.base--items__desc {
  max-width: 238px;
  margin: 0 auto;
}

/* task */
.task {
  margin-top: 140px;
}

.task__inner {
  width: 1161px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 21px;
}

.task--content {
  width: 50%;
}

.task--content__top-desc {
  max-width: 537px;
  margin-top: 22px;
}

.task--content__bottom {
  margin-top: 86px;
}

.task-bottom__ellipse {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}

.task--ellipse__active {
  width: 6px;
  height: 6px;
  border-radius: 99%;
  background: #f9f9f9;
}

.ellips-active {
  background: #ef8f00;
}

.task-bottom__group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 17px;
}

.task--group__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 127px;
  background: #272633;
  border-radius: 9px;
}

.task--group__items-heading {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.27;
  text-align: center;
  color: #f9f9f9;
}

.task--group__items-active{
  margin-top: 28px;
  background: linear-gradient(191.94deg, #C4F566 -43.72%, #AE8EF9 -5.87%, #EF8F00 52.36%, #61E559 122.78%);s
}

.task--group__items--desc{
  max-width: 89px;
}

.task--group__items--desc-active{
  color: #F9F9F9;
  text-align: center;
}

.task--media {
  width: 50%;
  position: relative;
}

.task--media__content {
  max-width: 100%;
}

.media--btn{
  min-width: 198px;
  padding: 15px 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background: #27292C;
  border-radius: 5px;
  border: none;
}

.media--btn__content{
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.28;
}

.btn-1{
  top: 0;
  left: 0;
}

.btn-2{
 top: 55px;
 right: 43px;
}
.btn-3{
  left: -42px;
  bottom: 119px;
}
.btn-4{
  right: -32px;
  bottom: 45px;
}

.btn-1 .media--btn__content{
  background: linear-gradient(89.86deg, #EF8F00 -6.27%, #FF7667 90.08%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.btn-2 .media--btn__content{
  background: linear-gradient(89.93deg, #0CCE84 3.45%, #AE8EF9 99.07%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.btn-3 .media--btn__content{
  background: linear-gradient(92.64deg, #C4F566 -11.2%, #FF6E6E 123.12%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
margin-left: 15px;
}
.btn-4 .media--btn__content{
  background: linear-gradient(92.64deg, #C4F566 -11.2%, #FF6E6E 123.12%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.media-btn__flay{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 99%;
  background: #363A3E;
}

.media-btn__flay--svg{
  width: 100%;
  height: 100%;
}

.media--btn__avatar{
  display: flex;
  margin-left: 43px;
  border:linear-gradient(89.93deg, #0CCE84 3.45%, #AE8EF9 99.07%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;;
}

.media--btn__avatar-icon{
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 99%;
  object-fit: cover;
}

.media--btn__avatar-icon:not(.media--btn__avatar-icon:first-child) {
  left: -11px;
}